body{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    padding-left: 15%;
    padding-right: 15%;

}

header{text-align: center;
    background-color: #929F9E;
    font-size: 40px;
    padding: 20px;
    color: black;
}

h1{color:black;
font-family: 'Noto Serif', serif;
font-size: 40px;}

h2{color:black;
    font-family: 'Noto Serif', serif;
    font-size: 30px;
    font-style: italic;
}
.jobinfo{
    background-color: #AAB9B8;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
.kontakt{
    background-color: #C0CECD;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

footer{background-color: #929F9E;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: black;

}
a{
        text-decoration: none;
        color: black;
       }

a:hover,
a:focus,
a:active { font-style: italic;
    font-weight: bold;}
    


   .portret{width: 180px;
        border-radius: 50%;
        float: right;
        /*margin-right: 1%;*/
        margin-bottom: 25px;
        margin-top: 25px; 
        margin-left: 20px;
    }
       
        